
html {
  width: 100vw;
  height 100vh;
  background-size: cover;
  font-family: 'Raleway', sans-serif;

}

/* Header Styling */

.headbar {
  margin-top: .5em;
  font-family: 'Reenie Beanie', cursive;
}

.headtext {
  margin:0;
}

.tagline {
  font-size: 1.2em;
  font-family: 'Raleway', sans-serif;
}

/* input form */

.addressinput {
  margin-top: 2em;
}

fieldset {
  border: none;
}

.searchbutton {
  float:right;
}

.searchlabel {
  font-size: 1.2em;
}

/* Refining Search Results */

.locationlist {
  display:none;
}

.locationlist > ul >li:hover {
  font-size: 1.2em;
  color: #2196f3;
}
/*Weather Data */

.icon {
  font-family: 'MeteoconsRegular';
  font-size: 2.5em;
}

.locationimage {
  float: left;
}

.weathertext {
  float:right;
  padding:0;
}

#weatherlocation {
  color: #af3333;
}

#icon1 {
  margin: 0 auto;
  margin-bottom: 2em;
  position: relative;
  display: none;
  border-radius: 20%;
}
/* Color Preferences */
