
html {
  width: 100vw;
  height 100vh;
  background-size: cover;
  font-family: 'Raleway', sans-serif;

}

/* Header Styling */

nav .headtext {
  font-family: 'Reenie Beanie', cursive;
  font-size: 4em;
  color: #484849;
}

.navbut: hover {
  background-color: #fff;
}

nav .navbut {
  color: #fff;
  margin-left: .5em;
}
/*modals */
.imagebox {
  display:flex;
  justify-content: center;
}

.contactimg {
  margin: 0 auto;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: .2em solid #484849;
}

.contactbox {
  display: flex;
  justify-content: center;
  font-size: .7em;
}

.contactbox img {
    margin-left: 1em;
    margin-right: 1em;
}
/* input form */

.addressherosection {
  background: url("https://upload.wikimedia.org/wikipedia/commons/1/12/Cloud_Wallpaper_(3794977092).jpg");
  height: 80vh;
  width: auto;
  background-repeat: no-repeat;
}

}

fieldset {
  border: none;
}

form {
  background-color: rgba(105,105,105,0.7);
  border: none;
  color:#AED5FA;
}

form .btn-flat {
  color:#AED5FA;
}
.searchbutton {
  float:right;
}

.searchlabel {
  font-size: 1.2em;
}
label {
  color:#AED5FA;
}

input[type=text]:focus:not([readonly]) {
  border-bottom: 2px solid #AED5FA;
  box-shadow: 0 1px 0 0 #AED5FA;
}

/* Refining Search Results */

.locationlist {
  margin-top: .2em;
  display:none;
  background-color: rgba(105,105,105,0.7);
  color:#AED5FA;
}


.locationlist > ul >li:hover {
  font-size: 1.2em;
  color: #2196f3;
}

#scroll {
  display:none;
}

/*bottom content */

.maincontent {
  display:none;
}

/*Weather Data */

.icon {
  font-family: 'MeteoconsRegular';
  font-size: 2.5em;
}

.locationimage {
  float: left;
}

.card .card-content {
  padding:.5em;
  background-color: #ced8e3;
  color: #484849;
}

.card .card-image img {
  width: 100%;
  height: 250px;
}

.card .card-content h3 {
  color:#54A4F3;
}

.weathertext {
  float:right;
  padding:0;
}

#icon1 {
  margin: 0 auto;
  margin-bottom: 2em;
  position: relative;
  display: none;
  border-radius: 20%;
}
.card .card-content .weatherdata {
  max-height: 416px;
}

.locationname {
  font-size: 1.2em;
  font-weight: 700;
}
/* Poem */


.iconcontainer {
  display:flex;
  justify-content: center;
}

.poeminfo {
  position:relative;
  margin: 0 auto
}

.poemcontent {
  min-height: 416px;
}

/* Color Preferences */
